.inpt{
width:500px;
height:30px;
margin:10px;
border-radius:3px;
border:1px solid grey;
}
.submit{
  width:500px;
  height:30px;
}
form{
width:350px;
}
body{
  display:flex;
  align-items: center;
  justify-content: center;
  height:100vh;
}